* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

.form-wrapper {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 900px;
    text-align: center;
}

h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #eb3382;
}

p {
    margin-bottom: 20px;
    font-size: 1.1rem;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.input-group input {
    width: 19%;
    padding: 10px;
    margin: 4px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
}

.input-group input::placeholder {
    color: #888;
}

.btn {
    background-color: #eb3382;
    color: #fff;
    padding: 10px 20px;
    margin-top: 17px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #b12461;
}

.prediction-output {
    margin-top: 30px;
}

h2 {
    color: #333;
}
